:root {
    --color-white: #fff;
    --color-grey: #333;
    --color-primary: #28a745;
    --color-secondary:#0284d0;
}

.bg-primary {
    background-color: var(--color-primary);
}
.text-primary {
    color: var(--color-primary)
}
.text-secondary {
    color: var(--color-secondary);
}
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 1rem 3rem;
    color: var(--color-white);
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
}
.btn-outline {
    background-color: transparent;
    border: 1px solid var(--color-white);
}
.btn:hover {
    opacity: 0.9;
}
.btn-primary,.bg-primary {
    color: var(--color-white);
    background-color: var(--color-primary);
}
.btn-secondary, .bg-secondary {
    color: var(--color-white);
    background-color: var(--color-secondary);
}
.btn-dark, .bg-dark {
    color: var(--color-white);
    background-color: var(--color-grey);
}
.btn-light, .bg-light {
    color: var(--color-grey);
    background-color: #f4f4f4;
}

/* Flex Items */
.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.flex-items > div {
    padding: 2rem;
}

.flex-columns.flex-reverse .row{
    flex-direction: row-reverse;
}
.flex-columns .row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}
.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem;
}

.flex-columns h2 {
    font-size: 4rem;
    font-weight: 400;
}
.flex-columns h4 {
    margin-bottom: 1rem;
}
.flex-columns p {
    margin: 2rem 0;
}

/* Section header */
.section-header {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section-header h2 {
    font-size: 4rem;
    margin: 2rem 0;
}
.section-padding {
    padding: 2rem 2rem 4rem;
}

/* Flex Grid */
.flex-grid .row{
    display: flex ;
    flex-wrap: wrap;
    padding: 0 4px;
}
.flex-grid .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
} 